<footer>
    <div class="container">
        <div class="copyright">
            <p>Copyright © 2023 IronCore - Edgar Enrique Calderón Ramirez. Todos los derechos reservados</p>
        </div>
        <h4 class="title-footer">Sígueme</h4>
        <div class="footer-column">
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/enrique.calderonramirez.1/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://wa.me/573223913372?text=Estoy%20interesado(a)%20en%20sus%20servicios%20como%20entrenador%20personal" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="https://www.instagram.com/enriquecalderon77/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</footer>