<section>
    <div class="container">
        <div class="titulos"><h2>ACERCA DE MI</h2></div>
        <div class="row">
        <div class="col-lg-6">
            <h2 class="section-title">Conóceme</h2>
            <p class="section-description">
            Como entrenador personal con más de 10 años de experiencia en el ámbito fitness, mi objetivo es ayudarte a alcanzar tus metas de fitness de manera efectiva 
            y segura. A través de un enfoque personalizado, te guiaré en cada paso del camino para mejorar tu fuerza, resistencia, 
            flexibilidad y composición corporal. Te proporcionaré técnicas de entrenamiento adecuadas, asesoramiento nutricional 
            y apoyo constante para que logres resultados duraderos y adoptes un estilo de vida saludable. ¡Trabajemos juntos para 
            alcanzar tus objetivos de forma progresiva y transformar tu cuerpo! . . .
            </p>
        </div>
        <div class="col-lg-6">
            <!-- Aquí puedes agregar una imagen relacionada con el entrenamiento personal -->
            <img src="../../assets/images/about1.jpg" alt="Imagen de entrenador personal" class="img-fluid">
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
            <!-- Aquí puedes agregar una imagen relacionada con el entrenamiento personal -->
            <img src="../../assets/images/about2.jpg" alt="Imagen de entrenador personal" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <h2 class="section-title">...</h2>
                <p class="section-description">
                Mi amplia experiencia en el campo del fitness me ha brindado un profundo conocimiento sobre los diferentes 
                métodos de entrenamiento y las mejores prácticas para lograr resultados. Estoy al tanto de las últimas tendencias 
                y avances en la industria y los aplico de manera efectiva en mis programas de entrenamiento.
                Además, entenderé tus necesidades y preferencias individuales. Ya sea que estés buscando perder peso, tonificar 
                tu cuerpo, aumentar tu masa muscular o mejorar tu rendimiento atlético, desarrollaré un programa de entrenamiento 
                adaptado a tus metas específicas.
                </p>
            </div>
        </div>
    </div>
    <!-- <app-servicios></app-servicios> -->
</section>