<section>
    <div class="container">
        <div class="titulos"><h2>PLANES DE ENTRENAMIENTO</h2></div>
            <h3 class="subtitle">¡Transforma tu cuerpo y alcanza tus metas de acondicionamiento físico con nuestros 
            planes de entrenamiento personalizados!</h3>
            <div class="plan-list">
                <div class="plan-item">
                    <h3 class="plan-title">Plan Básico</h3>
                    <hr>
                    <ul class="plan-features">
                        <li><i class="fas fa-check-circle"></i> Entrenamiento personalizado</li>
                        <li><i class="fas fa-check-circle"></i> Asesoramiento nutricional</li>
                        <li><i class="fas fa-check-circle"></i> Seguimiento de progreso</li>
                    </ul>
                    <hr>
                    <p class="plan-price">$150.000/mes</p>
                    <hr><button class="plan-button" (click)="redirectToWhatsApp('*Plan Básico')">Seleccionar</button>
                </div>
                <div class="plan-item">
                    <h3 class="plan-title">Plan Intermedio</h3>
                    <hr>
                    <ul class="plan-features">
                        <li><i class="fas fa-check-circle"></i> Entrenamiento personalizado</li>
                        <li><i class="fas fa-check-circle"></i> Asesoramiento nutricional</li>
                        <li><i class="fas fa-check-circle"></i> Seguimiento de progreso</li>
                        <li><i class="fas fa-check-circle"></i> Entrenamiento en casa</li>
                    </ul>
                    <hr>
                    <p class="plan-price">$270.000/mes</p>
                    <hr><button class="plan-button" (click)="redirectToWhatsApp('*Plan Intermedio')">Seleccionar</button>
                </div>
                <div class="plan-item">
                    <h3 class="plan-title">Plan Avanzado</h3>
                    <hr>
                    <ul class="plan-features">
                        <li><i class="fas fa-check-circle"></i> Entrenamiento personalizado</li>
                        <li><i class="fas fa-check-circle"></i> Asesoramiento nutricional</li>
                        <li><i class="fas fa-check-circle"></i> Seguimiento de progreso</li>
                        <li><i class="fas fa-check-circle"></i> Entrenamiento en casa</li>
                        <li><i class="fas fa-check-circle"></i> Asesoramiento online</li>
                    </ul>
                    <hr>
                    <p class="plan-price">$320.000/mes</p>
                    <hr><button class="plan-button" (click)="redirectToWhatsApp('*Plan Avanzado')">Seleccionar</button>
                </div>
            </div>
    </div>
</section>
