<section>
    <div class="container">
        <div class="titulos"><h2>SERVICIOS</h2></div>
        <div class="service-list">
            <div class="service-item">
                <div class="cont-icon">
                    <i class="fas fa-dumbbell fa-3x"></i>
                </div>
                <h3 class="service-title">Entrenamiento personalizado</h3>
                <p class="service-description">Diseñamos programas de entrenamiento adaptados a tus objetivos individuales.</p>
            </div>
            <div class="service-item">
                <div class="cont-icon">
                    <i class="fas fa-utensils fa-salad fa-3x"></i>
                </div>
                <h3 class="service-title">Asesoramiento nutricional</h3>
                <p class="service-description">Te brindamos pautas alimentarias saludables para potenciar tus resultados.</p>
            </div>
            <div class="service-item">
                <div class="cont-icon">
                    <i class="fas fa-chart-line fa-4x"></i>
                </div>
                <h3 class="service-title">Seguimiento de progreso</h3>
                <p class="service-description">Realizamos un seguimiento detallado de tu progreso para asegurar que alcances tus metas.</p>
            </div>
        </div>
    </div>
</section>